
	.section__corusel{
		padding: 100px 0 80px;
	}
	.section__corusel h3{
		font-weight: bold;
		font-size: 36px;
		line-height: 42px;
		color: var(--textcolor);
		text-align: center;
		margin-bottom: 40px;
	}

	.section__corusel .carousel-control-prev{
		margin-left: -110px;
		color: var(--maincolor);
	}
	.section__corusel .carousel-control-next{
		color: var(--maincolor);
		margin-right: -110px;
	}
	.section__corusel .btn button{
		padding: 3px;
		border: 1px solid var(--maincolor);
		border-radius: 50%;
		background-color: #fff;
		color: var(--maincolor);
		background-clip: unset;
		width: 2px;
		height: 2px;
		opacity: 1;
	}
	.section__corusel .carousel-indicators{
		bottom: -50px;
		align-items: center;
	}
	.section__corusel .btn .active{
		background-color: var(--maincolor);
		width: 5px;
		height: 5px;
	}