@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.card {
    border-radius: 15px;
    margin: 10px 0;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 135%;
    color: #000000;
    margin-top: 30px;
}


.btn {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
    margin-top: 30px;
    color: #00C8C8;
}
.btn-outline-info:hover {
    color: white;
}


.card:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.08);
}
.active {
    color: white;
}

.section-start {
    position: relative;
    background: #D8E4EB;

}

.section-start h1 {
    line-height: 150px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    
    /* identical to box height */

    text-align: center;

    color: #303030;
}

.section-effect {
    position: absolute;
}
.section-start  {
    margin-top: 100px;
    background-color:#D8E4EB;
    background-image: url("../images/Group.png");
    background-repeat: no-repeat;
    background-position: 90%;
}

.section-body {
    margin: 50px 0;
}