:root{
    --maincolor: #00C8C8;
    --textcolor: #303030;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

     

.container{
    max-width: 1140px;
}

.text{
    color: var(--textcolor);
    font-weight: bold;
}

      /* header */

header{
    background-color:#D8E4EB;
    background-image: url("../images/Group.png");
    background-repeat: no-repeat;
    background-position: 90%;
    
}

.box1{
    padding: 63px 0; 
}


     /* section one */

.box2{
    line-height: 21.6px;
}

        /* section menyu */

.menyu{
    background-color: var(--maincolor);
}

.box3{
    padding-top: 80px;
    font-size: 36px;
}

.kalindar{
  margin-bottom: 80px;
  margin-top: 40px;   
}
.xizmatlar{
    padding-top: 80px;
}
.klndr{
    margin-top: 40px;
}
.box4{
    margin-top: 11px;
    font-size: 20px;
    font-weight: 600;
   line-height: 23.48px;
    color:  var(--textcolor);
}
.box5{
    margin-top: 11px;
    font-weight: 400;
    color:  var(--textcolor);
    padding: 0 20px; 
    font-size: 16px;
    line-height: 21.6px;
}
.kvadrat{
   height: 283px;
    border-radius: 10px;
    box-shadow:0px 4px 24px rgba(32, 46, 67, 0.15);
}
    
       /* section jadval */
 
.mundarija{
    margin-bottom: 80px;
}

.stom{
    margin-top: 18px;
}
.box6{
    margin-top: 63px;
    padding-bottom: 40px;
    font-weight: bold;
    color:  var(--textcolor);
    font-size: 36px;
    line-height: 42px;
}


.row{
    /* margin-top: 40px; */
}

.box7{
    color:  var(--textcolor);
    font-size: 19px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 30px;
    line-height: 23.48px;
    
}

.box8{
    color:  var(--textcolor);
    font-weight: 400;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 40px;
    line-height: 21.6px;
}
.card{
    height: 223px;
    border-radius: 10px;
    box-shadow:0px 4px 24px rgba(32, 46, 67, 0.15);
}

.ramka{
    width: 70px;
    height: 70px;
    margin-top: 40px;
    margin-left: 30px;
    
}


      /* section Foto */

.Foto{
    background-color:#D8E4EB;
}      

.sarlva{
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    color:  var(--textcolor);
    padding-top: 80px;
    padding-bottom: 40px;
}
.galiriya{
    padding-bottom: 120px;
}
.rasm{
    margin-top: 16px;
}
