*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
:root {
    --maincolor: #00C8C8;
    --textcolor: #303030;
}
.fcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 1140px;
}
.nav__top {
    padding: 8px;
    background-color: #EFF4F7;
}
.setgroup div {
    width: 34px;
    height: 34px;
    border: 2px solid var(--maincolor);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--maincolor);
    margin-left: 10px;
}

/* kun tun checkbox */
.button-switch {
    width: 90px;
    height: 34px;
    border-radius: 34px;
    border: 2px solid var(--maincolor);
    padding: 4px; 
}
.button-switch span{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--maincolor);
    color: white; 
}
.kun, .tun{
    font-size: 14px;
    font-weight: bold;
    color: var(--maincolor);
}
.checkbox-input{
    display: none;
}
.tun{
    display: none;
}
.checkbox-input:checked+label div .kun{
    display: none;
}
.checkbox-input:checked+label div .tun{
    display: block;
}
.yozilish{
    background-color: var(--maincolor);
    width: 233px;
    height: 60px;
    color: white;
    font-weight: bold;
}
.yozilish2{
    background-color: white;
    width: 233px;
    height: 60px;
    color: var(--maincolor);
    font-weight: bold;
}
form .input{
    background-color: transparent;
    border: 1px solid white;
    width: 233px;
    height: 60px;
    color: white;
}
form .input::placeholder{
    color: white;
}
.tel p{
    font-size: 22px;
    font-family: -webkit-pictograph;
}
.footer .tel p{
    font-size: 16px;
    font-family: -webkit-pictograph;
}

/* .tel p{
	font-family: Raleway-Regular;
	font-weight: 100;
}
.footer .container .d-flex p{
	font-family: Raleway-Regular;
	font-weight: 100;
} */

.nav__center i{
    font-size: 24px;
    color: var(--maincolor);
}
.navbar a{
    color: var(--textcolor);
}
.nav-item .active{
    padding-bottom: 0;
    color: var(--maincolor);
    border-bottom: 1px solid var(--maincolor);
}


/* footer  */
.footer-top{
    background-color: var(--maincolor);
}
.doctorimage{
    height: 249px;
    box-sizing: border-box;
    position: relative;
}
.doctorimage .col-3{
    background-image: url("./images/doctor bg.png") !important;
}
.doctorimage>.col-3>img:nth-child(2){
    position: absolute;
    bottom: 0;
}
.doctorimage>.col-3>img:nth-child(1){
    position: absolute;
    top: 30px;
    left: -115px;
}
.footer-top h1{
    margin-top: 50px;
    font-size: 36px;
    color: white;
    margin-bottom: 0;
}
.footer-top p{
    font-size: 16px;
    color: white;
}
.footer{
    color: white;
    padding-top: 60px;
    background-color: #526068;
}
.footer ul li{
    list-style-type: none;
    margin-bottom: 15px;
}
.footer ul li a{
    color: white;
    text-decoration: none;
}
.footer .setgroup div:nth-child(1){
    margin-left: 0;
}
.footer  .bi-telephone-fill, .bi-geo-alt-fill{
    font-size: 24px;
    color: var(--maincolor);
}
.footer-top .form-control:focus{
    background-color: transparent !important;
    border: 1px solid white;
    caret-color: white;
    color: white;
}
