*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

	:root {
		--maincolor: #00C8C8;
		--textcolor: #303030;
  }
 
 .container {
	max-width: 1140px; }
 
 .service {
	 margin-bottom: 80px;
	background-color: #D8E4EB;
	position: relative; }
	.service .col-5 {
	  display: flex;
	  align-items: center;
	  padding: 61px 0; }
	  .service .col-5 .header__text {
		 font-weight: bold;
		 font-size: 46px;
		 line-height: 54px;
		 color: var(--textcolor); }
	.service .col-7 {
	  text-align: center;
	  position: relative; }
	  .service .col-7 .tish {
		 position: absolute;
		 top: 5px;
		 left: 10px; }
	  .service .col-7 .toch {
		 display: inline-block;
		 width: 245px;
		 height: 305px;
		 background-image: url(../images/service/Zub.svg);
		 background-repeat: no-repeat;
		 position: absolute;
		 top: -23px;
		 right: 251px; }
	  .service .col-7 .doira {
		 display: inline-block;
		 width: 567px;
		 height: 212px;
		 border-radius: 50%;
		 background-color: #D8E4EB;
		 position: absolute;
		 top: 81px;
		 left: 53px;
		 z-index: -1; }
 

 section {
	/* margin-top: 50px; */
	background-color: #FFFFFF; }


	/* section info */

	.service__block{
		margin-bottom: 80px;
	}
	.service__block-box{
		display: flex;
		align-items: center;
	}

	/* section tab */

	.service__tab{
		background-color: #E8EFF3;
		padding-top: 79px;
		padding-bottom: 80px;
	}
	.service__tab-h3{
		font-weight: bold;
		font-size: 36px;
		line-height: 42px;
		color: var(--textcolor);
		text-align: center;
		margin-bottom: 41px;
	}
	.service__tab-navs .tab-pane{
		padding-left: 12px;
	}
	.service__tab-navs .row{
		background-color: #fff;
		padding: 50px 30px 30px 30px;
	}
	.service__tab-navs .nav-link{
		color: var(--textcolor);
		font-size: 16px;
		line-height: 135%;
		text-align: center;
	}
	.service__tab-navs .nav-tabs .active{
		font-weight: 600;
		line-height: 135%;
		color: var(--maincolor);
	}

	.service__tab-navs-box{
		padding-top: 70px;
	}
	.service__tab-navs-box h4{
		font-weight: bold;
		font-size: 26px;
		line-height: 31px;
		color: var(--textcolor);
	}
	.service__tab-navs-box p{
		font-size: 16px;
		line-height: 135%;
		color: var(--textcolor);
		margin: 30px 0 41px;
	}
	.service__tab-navs-box .btn{
		background-color: var(--maincolor);
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		padding: 20px 45px;
		transition: all 0.6s;
	}
	.service__tab-navs-box .btn:hover{
		background-color: #E8EFF3;
		color: var(--maincolor);
	}


	/* section corusel */

	.section__corusel{
		padding: 100px 0 80px;
	}
	.section__corusel h3{
		font-weight: bold;
		font-size: 36px;
		line-height: 42px;
		color: var(--textcolor);
		text-align: center;
		margin-bottom: 40px;
	}

	.section__corusel .carousel-control-prev{
		margin-left: -110px;
		color: var(--maincolor);
	}
	.section__corusel .carousel-control-next{
		color: var(--maincolor);
		margin-right: -110px;
	}
	.section__corusel .btn button{
		padding: 3px;
		border: 1px solid var(--maincolor);
		border-radius: 50%;
		background-color: #fff;
		color: var(--maincolor);
		background-clip: unset;
		width: 2px;
		height: 2px;
		opacity: 1;
	}
	.section__corusel .carousel-indicators{
		bottom: -50px;
		align-items: center;
	}
	.section__corusel .btn .active{
		background-color: var(--maincolor);
		width: 5px;
		height: 5px;
	}

	/* section Reviews */
	
	.section__reviews{
		background-color: #D8E4EB;
		padding: 80px 0;
	}
	.section__reviews h3{
		font-weight: bold;
		font-size: 36px;
		line-height: 42px;
		color: var(--textcolor);
		text-align: center;
		margin-bottom: 40px;
	}
	.section__corusel-reviews{
		background-color: #fff;
		padding: 40px 30px;
		border-radius: 15px;
	}
	.section__corusel-reviews h5{
		font-weight: 600;
		font-size: 20px;
		line-height: 135%;
		color: var(--textcolor);
	}
	.section__corusel-reviews p{
		font-size: 16px;
		line-height: 135%;
		color: var(--textcolor);
		margin: 20px 0;
	}
	.section__reviews-foot{
		display: flex;
		align-items: center;
	}
	.section__reviews-name{
		margin-left: 19px;
	}
	.section__reviews-name h5{
		font-weight: 600;
		font-size: 18px;
		line-height: 30px;
		color: var(--textcolor);
		opacity: .8;
		margin: 0;
	}
	.section__reviews-name p{
		font-size: 14px;
		line-height: 30px;
		color: #4F5665;
		font-family: sans-serif;
		margin: 0;
		opacity: .6;
	}

	.section__reviews .carousel-control-prev{
		color: var(--maincolor);
		margin: 522px 0 0 420px;
	}
	.section__reviews .carousel-control-next{
		color: var(--maincolor);
		margin: 522px 420px 0 0;
	}
	.section__reviews .btn button{
		padding: 3px;
		border: 1px solid var(--maincolor);
		border-radius: 50%;
		background-color: #fff;
		color: var(--maincolor);
		background-clip: unset;
		width: 2px;
		height: 2px;
		opacity: 1;
	}
	.section__reviews .carousel-indicators{
		bottom: -50px;
		margin-left: 47%;
		margin-right: 47%;
		align-items: center;
	}
	.section__reviews .btn .active{
		background-color: var(--maincolor);
		width: 5px;
		height: 5px;
	}

	.btn__foot{
		border: 1px solid var(--maincolor);
		border-radius: 33px;
		padding: 20px 45px;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		color: var(--maincolor);
		transition: all 0.4s;
	}
	.btn__foot:hover{
		background-color: var(--maincolor);
		color: #fff;
	}
	.section__reviews .col{
		margin-top: 80px;
		display: flex;
		justify-content: center;

	}

	/* section registra */

	.reg__1{
		margin: 91px 0 0 0;
	}

	/* section service prices */

	.service-prices{
		padding: 60px 0 100px;
		background-color: #F3F7F9;
	}
	.service-prices h3{
		font-weight: bold;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		color: var(--textcolor);
		margin-bottom: 40px;
	}
	.service-prices .liniya{
		display: block;
		border: 0.2px solid #C8C8C8;
	}
	.service-prices__text{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		height: 45px;
	}
	.service-prices__text .textes{
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		margin: 0;
		padding: 0px 0;
	}
	.service-prices__text h5{
		font-family: sans-serif;
		font-weight: 600;
		font-size: 20px;
		line-height: 23px;
		text-align: right;
		color: #000000;
		margin: 0;
	}

	/* section accardiyon */

	.faq h1{
		font-weight: bold;
		font-size: 36px;
		text-align: center;
		margin-bottom: 50px;
  }
  .accordion-button{
		font-size: 14px;
  }
  .accordion-item{
		border: none !important;
		margin-bottom: 10px;
  }
  .accordion-button .collapsed{
		color: var(--textcolor);
  }
  .accordion-button:not(.collapsed){
		color: var(--textcolor) !important;
		background-color: white;
  }
  .accordion-button::after{
	  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  }
  .accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");