*{
    margin: 0;
    padding: 0;
}
:root {
    --maincolor: #00C8C8;
    --textcolor: #303030;
}
p{
    margin: 0;
}
/* hero carousel  */
/* section corusel */

.section__corusel{
    margin-top: 7px;
    padding-top: 15px;
    background-color: #D8E4EB;
}
.section__corusel .col-7{
    padding-left: 100px;
}
.section__corusel h1{
    font-weight: bold;
    font-size: 46px;
    color: var(--textcolor);
    margin-bottom: 59px;
}
.section__corusel p{
    font-size: 16px;
    line-height: 135% ;
}
.section__corusel .btn button{
    padding: 3px;
    border: 1px solid var(--maincolor);
    border-radius: 50%;
    background-color: #fff;
    color: var(--maincolor);
    background-clip: unset;
    width: 2px;
    height: 2px;
    opacity: 1;
}
.section__corusel .carousel-indicators{
    bottom: -50px;
    align-items: center;
}
.section__corusel .btn .active{
    background-color: var(--maincolor);
    width: 5px;
    height: 5px;
}

/* services  */
.services{
    margin-top: 96px;
}
.services h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 50px;
}
.services .card{
    width: 367px !important;
    border-radius: 10px;
    text-align: center;
    background-color: #E8EFF3;
    border: none;
    padding: 50px 0 34px 0;
    font-size: 20px;
    transition: all 0.4s;
}
.services .card a{
    color: white;
    opacity: 0;
    font-size: 16px;
    transition: all 0.4s;
}
.services .card svg{
    margin-bottom: 1rem;
    transition: all 0.4s;
}
.services .card:hover{
    background-color: var(--maincolor);
    color: white;
}
.services .card:hover a{
    opacity: 100%;
}
.card:hover svg{
    transform: scale(0.8);
}
.services .card:hover svg path{
    fill: white;
}
.services .services h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

/* about us  */

.about_us{
    font-size: 16px;
    line-height: 21.6px;
}
.side_images{
    position: relative;
}
.side_images img:nth-child(2){
    position: absolute;
    bottom: 0;
    left: 0;
}
.about_us .h1{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 40px;
}
.experiense img{
    margin-bottom: 20px;
}
.experiense{
    line-height: 21.6px;
    font-size: 16px;
    text-align: center;
}
.about_us .container{
    margin-bottom: 80px;
}

/* our doctors  */
.our_doctors h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.our_doctors .card{
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #E8EFF3;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px rgba(32, 46, 67, 0.15);
    border-radius: 6px;
}
.our_doctors .card{
    padding-top: 17px;
    padding-bottom: 10px;
    transition: all 0.4s;

}
.our_doctors .circle{
    margin: 0 auto;
    text-align: center;
    width: 195px;
    height: 195px;
    border-radius: 50%;
    background-color: #D8E4EB;
    overflow: hidden;
    transition: all 0.4s;

}
.our_doctors .card_body{
    position: relative;
    padding-bottom: 0 !important;
}
.circle+img{
    position: absolute;
    top: 0;
    left: 49px;
    transition: all 0.4s;
}
.our_doctors h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 23.48px;
    margin-top: 35px;
    margin-bottom: 10px;
}
.our_doctors p{
    margin-bottom: 0;
}
.our_doctors .card a{
    color: var(--maincolor);
    font-weight: bold;
    text-decoration: none;
    display: none;
    transition: all 0.4s;
    margin-top: 20px;

}
.our_doctors .card-parent{
    position: relative;
}
.our_doctors .card:hover{
    box-shadow: 0px 4px 44px rgba(32, 46, 67, 0.35);
    z-index: 10; 
    position: absolute;
    top: 0;
}
.our_doctors .card:hover a{
    display: block;
    opacity: 100%;

}
.our_doctors .card:hover .circle{
    transform: translateY(20px);
    background-color: var(--maincolor);
}
.our_doctors .card:hover .circle+img{
    top: 20px;
}
.our_doctors .col-3{
    margin-bottom: 20px;
}
.tel{
    font-family: system-ui !important;
}

/* faq  */
.faq h1{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}
.accordion-button{
    font-size: 14px;
}
.accordion-item{
    border: none !important;
    margin-bottom: 10px;
}
.accordion-button .collapsed{
    color: var(--textcolor);
}
.accordion-button:not(.collapsed){
    color: var(--textcolor) !important;
    background-color: white;
}

  .accordion-button::after{
	  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  }
  .accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");


/* section Reviews */
	
.section__reviews{
    background-color: #D8E4EB;
    padding: 80px 0;
    margin-bottom: 70px;
}
.section__reviews h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: var(--textcolor);
    text-align: center;
    margin-bottom: 40px;
}
.section__corusel-reviews{
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 15px;
}
.section__corusel-reviews h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    color: var(--textcolor);
}
.section__corusel-reviews p{
    font-size: 16px;
    line-height: 135%;
    color: var(--textcolor);
    margin: 20px 0;
}
.section__reviews-foot{
    display: flex;
    align-items: center;
}
.section__reviews-name{
    margin-left: 19px;
}
.section__reviews-name h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: var(--textcolor);
    opacity: .8;
    margin: 0;
}
.section__reviews-name p{
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    font-family: sans-serif;
    margin: 0;
    opacity: .6;
}

.section__reviews .carousel-control-prev{
    color: var(--maincolor);
    margin: 522px 0 0 420px;
}
.section__reviews .carousel-control-next{
    color: var(--maincolor);
    margin: 522px 420px 0 0;
}
.section__reviews .btn button{
    padding: 3px;
    border: 1px solid var(--maincolor);
    border-radius: 50%;
    background-color: #fff;
    color: var(--maincolor);
    background-clip: unset;
    width: 2px;
    height: 2px;
    opacity: 1;
}
.section__reviews .carousel-indicators{
    bottom: -50px;
    margin-left: 47%;
    margin-right: 47%;
    align-items: center;
}
.section__reviews .btn .active{
    background-color: var(--maincolor);
    width: 5px;
    height: 5px;
}

.btn__foot{
    border: 1px solid var(--maincolor);
    border-radius: 33px;
    padding: 20px 45px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: var(--maincolor);
}
.btn__foot:hover{
    background-color: var(--maincolor);
    color: #fff;
}
.section__reviews .col{
    margin-top: 80px;
    display: flex;
    justify-content: center;

}
